*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}

*:focus{
  outline: 2px dotted #ff7500;
  outline-offset: 1.5px;
}

/* CONTAINER */

.container{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE - HEADER */

.site-header{
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #FF7500;
  background-color: #fff;
}


.site-header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-actions{
  display: flex;
  align-items: center;
}

/* SITENA V */
.sitenav-list{
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-right: 32px;
  font-weight: bold;
}

.sitenav-item{
  margin: 32px;
}
.sitenav-item:last-child{
  margin-right: 0px;
}

.sitenav-link{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  line-height: 15px;
  font-weight: 500px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
              opacity 0.4s ease;
}

.sitenav-link:hover{
  color:#FF7500;
}
.sitenav-link:active{
  opacity: 0.6;
}


/* MAIN-LINK */
.main-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 700px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF; 
  background-color: #FF7500;
  text-decoration: none;
  transition: opacity 0,4s ease;
  font-weight: bold;
}

.main-link:hover{
  opacity: 0.8;
}
.main-link:active{
  opacity: 0.6;
}

/* HERO */

.hero{
  padding-top: 80px;
  padding-bottom: 80px; 
  background-color: #252420;
  color: #fff;
}

.hero-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content{
  width: 390px;
}

.orange-line{
  border: none;
  width: 80px;
  height: 3px;
  margin: 0px;
  margin-bottom: 40px;
  background-color: #ff7500;
}
.hero-img{
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0px rgba(255, 117, 0, 0.6);
}

.hero-heading{
  font-size: 40px;
  margin: 0px;
  margin-bottom: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2;
}

.hero-text{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-top: 0px;
  margin-bottom: 32px;
}


/* FEATURES */
.logo-link{
  transform: opacity 0.4s ease;
}
.logo-link:hover{
  opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
}

.logo-link img{
  display: block;
}

/* FEATURES */

.features{
  padding-top: 210px;
  padding-bottom: 210px;
}
.feature{
  width: 340px;
  margin-right: 40px;
}

.feature:last-child{
  margin-right: 0px;
}

.features-list{
 display: flex;
 list-style: none;
 padding: 0px;
 margin: 0px;
}

.features-heading{
  width: 440px;
  font-size: 72px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 72px;
}

.feature-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
  ;
}

.feature-title{
  font-size: 24px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 12px;
}

.feature-info{
  font-size: 16px;
  line-height: 1.5;
  margin: 0px;
}

.promo{
 padding-top: 120px;
 padding-bottom: 160px;
}

.promo-inner{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF; 
  padding: 64px;
  border-radius: 12px;
  background-color: #252420;
}

.promo-content{
  width: 440px;
}

.promo-heading{
  font-size: 40px;
  line-height: 48px;
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

.promo-text{
 margin: 0px;
 margin-bottom: 12px;
}


.promo-text:last-child{
  margin-bottom: 0px;
}

.promo-info-wrapper{
  margin-bottom: 24px;
}

.promo-highlight{
  color: #ff7500;
}

.promo-img{
  width: 440px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
}

/* FOOTER */

.site-footer{
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #fff;
}

.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer ul {
  list-style-type: none;
}

/* IMG block */
.site-footer-socials{
  display: flex;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.site-footer-socials li{
  margin-right: 16px;
}

.site-footer-socials li:last-child{
  margin-right: 0px;
}

.site-footer-socials a:hover{
  color: #FF7500;
}

.site-footer-socials a{
  display: block;
  color: #252420;
}

.site-footer-socials a:active{
  opacity: 0.6;
 }


 .site-footer-socials svg{
   display: block;
 }
.site-footer{
  background-color: #F8F8F8;;
}
.site-footer-divider{
  height: 2px;
  border: 0px;
  margin-top: 40px;
  margin-bottom: 64px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-links{
  width: 224px; 
  padding: 0px;
  margin: 0px;
  margin-right: 68px;
  line-height: 19px;
}

.site-footer-links li{
  margin-bottom: 16px;
}

.site-footer-links li:last-child{
  margin-bottom: 0px;
}

.site-footer-links:last-child{
  margin-right: 0px;
}

.site-footer-links a{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #252420;
  font-family: 'Roboto', sans-serif;
}
.site-footer-links a:hover{
  color: #FF7500;
}
.site-footer-links a:active{
  opacity: 0.6;
}
.site-footer-bottom{
  display: flex;
  justify-content: center;
}