body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}

*:focus{
  outline: 2px dotted #ff7500;
  outline-offset: 1.5px;
}

/* SITE - HEADER */

.site-header{
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #FF7500;;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.site-header-actions{
  display: flex;
  align-items: center;
}

/* SITENA V */
.sitenav-list{
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}

.sitenav-item{
  margin: 32px;
}

.sitenav-link{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  line-height: 15px;
  font-weight: 500px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
              opacity 0.4s ease;
}

.sitenav-link:hover{
  color:#FF7500;
}
.sitenav-link:active{
  opacity: 0.6;
}


/* MAIN-LINK */
.main-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 700px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF; 
  background-color: #FF7500;
  text-decoration: none;
  transition: opacity 0,4s ease;
  font-weight: bold;
}

.main-link:hover{
  opacity: 0.8;
}
.main-link:active{
  opacity: 0.6;
}

/* HERO */

.hero{
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px; 
  justify-content: space-between;
  background-color: #252420;
  color: #fff;
}

.hero-content{
  width: 390px;
}

.orange-line{
  border: none;
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
.hero-img{
  width: 510px;
  height: 510px;
  border-radius: 8px;
}

.hero-heading{
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2;
}

.hero-text{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.5px;
}


/* FEATURES */
.logo-link{
  transform: opacity 0.4s ease;
}
.logo-link:hover{
  opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
}

/* FEATURES */

.features{
  padding-top: 210px;
  padding-bottom: 210px;
}
.feature{
  width: 340px;
}

.features-list{
 display: flex;
 list-style: none;
 padding: 0px;
 justify-content: space-between;
}

.features-heading{
  width: 440px;
  font-size: 72px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2;
}

.feature-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
  ;
}

.feature-title{
  font-size: 24px;
  line-height: 1.2;
}

.feature-info{
  font-size: 16px;
  line-height: 1.5;
}

.promo{
  display: flex; 
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #FFFFFF;
}

.promo-content{
  width: 440px;
}

.promo-heading{
  font-size: 40px;
  line-height: 48px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* .promo-text{
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
} */

.promo-highlight{
  color: #ff7500;
}

.promo-img{
  width: 440px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
}

/* FOOTER */

.site-footer{
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer ul {
  list-style-type: none;
}
.site-footer-socials{
  display: flex;
  padding: 0px;
  align-items: center;
}

.site-footer-socials a:hover{
  color: #FF7500;
}

.site-footer-socials a{
 color: #252420;
}

.site-footer-socials a:active{
  opacity: 0.6;
 }

.site-footer{
  width: 1440px;
  background-color: #F8F8F8;;
}
.site-footer-divider{
  height: 2px;
  border: 0px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-links{
  width: 224px; 
  padding: 0px;
  line-height: 19px;
}

.site-footer-links a{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #252420;
  font-family: 'Roboto', sans-serif;
}
.site-footer-links a:hover{
  color: #FF7500;
}
.site-footer-links a:active{
  opacity: 0.6;
}
.site-footer-bottom{
  display: flex;
  justify-content: center;
}